@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Expolre AI with Tina John</h1>
    <p>Learn about <a href="https://explore-datascience.net/">Explore AI Academy with me today</a>.</p>
</div>
